.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }

  .width-and-height {
    height: 50px;
    width: 50px;
  }

  .padding {
  /* insira aqui um padding de 20px na classe abaixo para aplicá-lo aos itens B, C e D */
  padding: 20px;
  }

  .margin {
  /* insira aqui uma margem de 30px na classe abaixo para aplicá-la aos itens C e D */
  margin: 30px;
  }

  .border {
  /* insira aqui uma borda com valor '5px solid black' para aplicá-la ao item D */
  border: 5px solid black;
  }

  /*
  Css da página exercicio2.html
    Exercícios:
    - Posicione o Mário acima do Goomba.
    - Posicione a tag p para que fique dentro do balão de fala.
    - Posicione o balão para que se torne uma fala de Bowser.
    - Posicione os elementos para que tenham alguma distância entre si.
  */

  .super-mario, .goomba {
      width: 300px;
      position: absolute;
      left: 100px;
  }
  .super-mario {
      top: 100px;
      z-index: 2;
  }

  .goomba {
      top: 525px;
  }

  .bowser {
    position: absolute;
    top: 200px;
    left: 950px;
  }

  .baloon {
      position: absolute;
      top: 300px;
      left: 700px;
      z-index: 3;
  }
  
.word {
    position: absolute;
    left: 760px;
    top: 355px;
    z-index: 4;
}

/*
    css da página exercicio3.html
*/

h1, p {
    text-align: center;
}

li:hover {
    background-color: #333;
}

li:active {
    color: #FFF;
    font-family: impact, sans-serif;
}

ol, ul {
    list-style: none;
}

/*
    css da página exercicio4.html
*/

div:hover {
    border: 3px solid #FF0000;
}
